.opciones{
    width: auto;
    height: 2000px;
    margin: 20px 20px;
}

.opcion{
    background-color: rgb(233, 247, 252);
    border: 3px solid black;
    padding: 5px;
    width: 1200px;
    margin: 10px 20px;
    float: left;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
h5{
    text-align: center;
}
.btn{
    margin: 0 auto;
}

.formulario{
    width: 90%;
    margin: 40px 50px;
    padding: 14px;
    border: 2px solid rgb(22, 21, 21);
    border-radius: 5%;
}